@charset "utf-8";

/* quick 영역 */

.quick{
    width: 50px;
    height: 200px;
    position: fixed;
    right: 0;
    top: 103px;
    z-index: 100;
}

/* answer 영역 */

.answer{
    width: 200px;
    height: calc(409px + 31px);
    background-color: #9265ba;
    position: fixed;
    right: 100px;
    top: 45%;
    z-index: 400;
    text-align: center;
}

.ansewr_inner{
    height: 409px;
    padding: 15px 10px;
}
.ansewr_inner h3{
    font-size: 22px;
    color: #e6c0ff;
    font-weight: 100;
}
.ansewr_inner p{
    font-weight: 100;
    color: white;
    margin: 5px 0;
}

.info{}
.info input{
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.info input::placeholder{
    font-size: 12px;
    color: #aaa;
}
.info textarea{
    display: block;
    width: 100%;
    height: 95px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 12px;
    color: #aaa;
}

.check{}
.check a{
    display: block;
    text-align: left;
    width: 70%;
    color: white;
    font-weight: 100;
    /* line-height: 30px; */
    float: left;
}
.check span{
    float: right;
    display: block;
    /* width: 20%; */
}
.check span input{
    display: block;
    width: 15px;
    height: 15px;
}

.info >form>button{
    background: transparent;
    border: none;
    color: #e6c0ff;
    display: block;
    text-align: left;
    clear: both;
}

.send{
    margin-top: 10px;
}

.send button{
    background-color: #7124a4;
    border: none;
    color: white;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 35px;
    font-size: 20px;
    cursor: pointer;
}

.top{
    width: 100%;
    height: 31px;
    background-color: #000;
}
.top button{
    border: none;
    width: 100%;
    display: block;
    height: 31px;
    line-height: 31px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
}

/* pop 영역 */

.pop{
    width: 100%;
    height: 300px;
    position: relative;
    display: none;
}
.pop a{
    display: block;
    height: 300px;
    background: url(../images/NSqxmcu8eA6ZwG9f_20160212.jpg)no-repeat center top;
    background-size: cover;
    text-indent: -9999px;
}

.pop_inner{
    width: 1000px;
    height: 300px;
    /* margin: 0 auto; */
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.pop_inner button{
    float: right;
    padding: 1px 5px;
    margin-top: 50px;
    cursor: pointer;
}

/* 해더 영역1 */

#header{ width: 100%;  height: 103px;  position: relative;  z-index: 150;}

.logo{/* 1-1 */
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}/* 로고 포지션 뜯음. */

.logo a{
    display: block;
    width: 101px;
    height: 101px;
    background: url("../images/logo.png") no-repeat;
    text-indent: -9999px;
}

.header_b{/* 1-2 */
    width: 100%;
    height: 103px;
    background: url(../images/header_bg.png)repeat-x;
}

.head_inner{ width: 1000px;  margin: 0 auto;}

.util{ float: right;  display: flex;}
/* 로그인/회원가입 */

.util li{
    margin: 10px 0 0 10px;
}

.util li a{
    display: block;
    font-size: 12px;
    color: #cbcbcb;
    padding: 3px 10px;
}

.util li a:hover{
    color: white;
}

.util li.u3 a{
    background: #c3c0bf;
    border-radius: 10px;
    color: #2b2b2b;
}

.util li.u4 a{
    background: #9265ba;
    border-radius: 10px;
    color: white;
}

.gnb{ display: flex;  width: 100%;  justify-content: space-between;  text-align: center;  padding-top: 15px;}

.gnb > ul{}

.gnb > ul > li{
    position: relative;
}

.gnb > ul > li > a{
    display: block;
    font-size: 14px;
    color: white;
    /* font-weight: bold; */
    line-height: 50px;
    position: relative;
}

.gnb > ul > li > a::before{
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color: #eee;
    position: absolute;
    left: 0;
    top: 16px;
}

.gnb > ul > li:first-child > a::before{
    display: none;
}

.gnb > ul > li:hover > a{
    /* color: #692c93; */
    color: #9247c4;
}

.gnb_left{
    /* border: 1px solid rgb(41, 31, 149); */
    width: 45%;
    display: flex;  /* 메뉴가 옆으로 올라옴 */
}

.gnb_left > li{}

.gnb_right{
    /* border: 1px solid rgb(27, 167, 92); */
    width: 45%;
    display: flex;
}

.sub{
    position: absolute;
    width: 100%;
    top: 65px;
    left: 0;
}

.sub li{}

.sub li a{
    display: block;
    line-height: 30px;
    font-size: 12px;
    color: #bcbcbc;
}

.sub li a:hover{
    background-color: #9265ba;
    color: white;
}

.gnb > ul .g1{width: 100px;}
.gnb > ul .g2{width: 95px;}
.gnb > ul .g3{width: 90px;}
.gnb > ul .g4{width: 160px;}
.gnb > ul .g5{width: 140px;}
.gnb > ul .g6{width: 150px;}
.gnb > ul .g7{width: 150px;}

/* 메인 영역2 */

.main{ 
    width: 100%;  
    /* overflow: hidden; */
    position: relative;
}

/* 메인비주얼 영역2-1 */

.main_visual{
    width: 100%;
    height: 620px;
    margin-top: -103px;
    /* border: 1px solid red; */
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.main_visual .move{
    width: 100%;
    height: 620px;
    position: relative;
}

.main_visual .move .slick-slide{
    width: 100%;
    height: 620px;
}

.main_visual .move a{
    display: block;
    width: 100%;
    height: 620px;
}

.main1 a{background: url(../images/main1.jpg) no-repeat center top; background-size: cover;}
.main2 a{background: url(../images/main2.jpg) no-repeat center top; background-size: cover;}
.main3 a{background: url(../images/main3.jpg) no-repeat center top; background-size: cover;}
.main4 a{background: url(../images/main4.jpg) no-repeat center top; background-size: cover;}
.main5 a{background: url(../images/main5.jpg) no-repeat center top; background-size: cover;}
.main6 a{background: url(../images/main6.jpg) no-repeat center top; background-size: cover;}

/* 슬릭 */

.move .slick-dots{ position: absolute;  left: 50%;  bottom: 10px;  transform: translateX(-50%);}

.move .slick-dots li{ display: inline-block;  margin: 5px;}

.move .slick-dots li button{    
    display: block;
    width: 18px;
    height: 18px;
    border: none;
    background-color: transparent;
    background-image: url("../images/main_visual_pager_off.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    cursor: pointer;}

.move .slick-dots li.slick-active button{/* 도트 누르면 해당 페이지로 이동 */
    background-image: url("../images/main_visual_pager_on2.png");
    background-repeat: no-repeat; text-indent: -9999px; cursor: pointer;
}

.move .slick-arrow{
    width: 45px;
    height: 89px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    text-indent: -9999px;
    z-index: 20;
    cursor: pointer;
}

.move .slick-arrow.slick-prev{
    background-image: url("../images/main_visual_prev.png");
    background-repeat: no-repeat;
    margin-left: -600px;
}

.move .slick-arrow.slick-next{
    background-image: url("../images/main_visual_next.png");
    background-repeat: no-repeat;
    margin-left: 600px;
}

/* 섹션1 영역2-2 */

.section1{ width: 1000px;  margin: 0 auto;  text-align: center;  display: flex;  padding:620px 0 50px;}

/* .section1 > div{
    border: 1px solid red;
} */

.section1 ul li:first-child{
    font-size: 30px;
    color: #3f3f3f;
    margin-bottom: 15px;
}

.section1 ul li:nth-child(2){
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* 섹션2 영역2-3 */

.section2{ width: 100%;  height: 729px;  background-color: #f1e1ff;}

.section2_inner{
    width: 1000px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section2_inner h2{
    width: 100%;
    /* border: 1px solid red; */
    text-align: center;
    /* padding: 50px 0; */
    font-size: 40px;
    font-weight: 500;
    color: #444;
    background: url(../images/main_menu_title_line.png)no-repeat center center;
    margin-bottom: 30px;
}

.section2_inner h2 span{
    font-size: 35px;
    font-weight: 100;
    /* border: 1px solid red; */
}

.best{
    /* border: 1px solid red; */
    background: url(../images/main_menu_best_bg.png)no-repeat;
    width: 536px;
    height: 494px;
}

.new{ width: 420px; }

.new_list{
    display: flex;
    height: 494px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    text-align: center;
}

.new_list >li{
    width: 47%;
    /* border: 1px solid red;  */
    height: 47%;
    background-color: white;
    position: relative;
}

.new_list >li::after{
    content: "";
    display: none;
    width: 100%;
    height: 100%;
    border: 3px solid #ffaf1d;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
}

.new_list >li:hover::after{
    display: block;
}

.new_list >li ul{
    position: relative;
}

.new_list >li ul li:nth-child(1){
    position: absolute;
    right: 10px;
    top: 10px;
}

.new_list >li ul li:nth-child(2) img{
    width: 90%;
}
.new_list >li ul li:nth-child(3){
    margin-bottom: 6px;
}

/* 섹션3 영역2-4 */

.section3{ width: 100%;  background-color: #423333;  height: 215px;}

.section3_inner{
    width: 1000px;
    height: 215px;
    margin: 0 auto;
    position: relative;
}

.section3_inner h2{
    color: white;
    font-size: 30px;
    padding: 50px 0  10px 0;
    font-weight: 200;
}

.section3_inner p{
    color: #949494;
    font-size: 13px;
    margin-bottom: 30px;
}

.section3_inner a{
    display: block;
    color: rgb(222, 222, 222);
    width: 100px;
    height: 25px;
    background-color: #1d1d1d;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
}

.section3_inner img{
    position: absolute;
    right: 0;
    bottom: 0;
}


/* 섹션4 영역2-5 */

.section4{ width: 1000px;  margin: 90px auto;  height: 410px;  display: flex;}

.s4_left{
    width: 250px;
    height: 410px;
}

.s4_left .slick-dots{
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
}
.s4_left .slick-dots li{}
.s4_left .slick-dots li button{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    text-indent: -9999px;
    background-color: #ffffff;
    /* box-shadow: inset 1px 1px 2px #4c4c4c; */
    border: none;
}
.s4_left .slick-dots li.slick-active button{}

.s4_middle{
    width: 271px;
    height: 410px;
}

.s4_middle_top{
    background-color: #6c5648;
    width: 100%;
    height: 205px;
    padding: 40px 30px;
}

.s4_middle_top a{
    display: block;
    height: 100%;
    position: relative;
}

.s4_middle_top a h3{
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.s4_middle_top a p{
    font-size: 14px;
    color: #c6c6c6;
    line-height: 20px;
    font-weight: 100;
}

.s4_middle_top a img{
    position: absolute;
    top: 0;
    right: 0;
}

.s4_middle_bottom{
    background-color: #f7f7f7;
    width: 100%;
    height: 205px;
    padding: 40px 30px;
}

.s4_middle_bottom a{
    display: block;
    height: 100%;
    position: relative;
}

.s4_middle_bottom a h3{
    color: rgb(32, 32, 32);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.s4_middle_bottom a p{
    font-size: 14px;
    color: #666666;
    line-height: 20px;
    font-weight: 100;
}

.s4_middle_bottom a img{
    position: absolute;
    top: 0;
    right: 0;
}

.s4_right{
    width: 479px;
    height: 410px;
    background: url("../images/main_article_section3.jpg") no-repeat;
    position: relative;
    background-size: cover;
}

.s4_right_coff{
    width: 251px;
    height: 205px;
    background-color: #414141;
    position: absolute;
    right: 0; bottom: 0;
    padding: 30px 10px 0 30px; 
}

.s4_right_coff a{
    display: block;
    height: 100%;
    position: relative;
}
.s4_right_coff a h3{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}
.s4_right_coff a p{
    font-size: 12px;
    /* font-weight: 100; */
    color: #c2c2c2;
    line-height: 20px;
    font-weight: 100;
    /* letter-spacing: -1px; */
}
.s4_right_coff a img{
    position: absolute;
    top: 0;
    right: 0;
}

/* 섹션5 영역2-6 */

.section5{width: 100%; height: 192px; background-color: #f1f1f1; padding: 70px 0;}
.section5_inner{width: 1000px; margin: 0 auto; background: url(../images/main_sns_tab.gif);}
.section5_inner ul{display: flex;}
.section5_inner ul li{width: 240px; height: 52px;}
.section5_inner ul li a{display: block; width: 100%; height: 100%; line-height: 52px; text-align: center; font-size: 18px; }
.section5_inner ul li.on a{background: url(../images/main_sns_tab_on.gif)no-repeat;}

/* footer 푸터 영역 3 */

.footer{
    background: #444;
}

.footer_inner{
    width: 1000px;
    margin: 30px auto 0;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    color: white;
}

.f_logo{
    width: 65px;
    height: 65px;
    /* border: 1px solid white; */
}

.f_wrap{
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}
.f_wrap ul{
    display: flex;
}
.f_wrap ul li{
    margin-right: 10px;
}
.f_wrap ul li a{
    color: white;
    font-size: 14px;
    line-height: 30px;
}
.f_gnb1 li a{
    display: block;
    background-color: #2f2f2f;
    padding: 0 10px;
    border-radius: 20px;
    color: #cfcfcf !important;
}
.address{
    font-size: 12px;
    color: #adadad;
    line-height: 20px;
    margin-top: 10px;
}
address{font-style: normal;}
.sns_wrap{
    /* border: 1px solid white; */
}

.sns{
    display: flex;
}
.sns li{
    margin-left: 10px;
}
.sns li a{
    text-indent: -9999px;
    display: block;
    width: 31px;
    height: 31px;
}
.sns li a.fa{
    background: url("../images/ft_sns_facebook.png")no-repeat;

}
.sns li a.in{
    background: url("../images/ft_sns_instagram.png")no-repeat;
}

.sns_wrap .sp{
    display: block;
    width: 31px;
    height: 31px;
    text-indent: -9999px;
    background: url("../images/ft_speaker.png");
    float: right;
    margin-top: 10px;
}